@charset "UTF-8";
/* 바디영역에 기본마진,패딩 초기값 설정 */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* 슬라이드쇼 영역 */
.slideshow {
    background-color: black;
    min-width: 960px;
    height: 465px;
    position: relative;
}

/* 슬라이드이미지 영역 */
.slideshow_slides {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* 4장의 이미지를 위치조정 */
.slideshow_slides a {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    display: inline-block;
}

/* 네비게이션바를 중앙에 배치 */
.slideshow_nav a {
    position: absolute;
    left: 50%;
    top: 50%;
    color: white;
    font-size: 62px;
    transform: translate(-50%,-50%);
    opacity: 0.5;
}

/* 네비게이션바를 좌우로 이동 */
.slideshow_nav a.prev {
    margin-left: -400px;
}

.slideshow_nav a.next {
    margin-left: 400px;
}

/* 인디케이터를 중앙에 배치 */
.indicator {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  text-align: center;
}

.indicator a {
  display: inline-block;
  font-size: 24px;
  color: white;
  opacity: 0.8;
  padding: 5px;
}

.indicator a.active {
  color: orangered;
}